<div class="section" id="contact">
        <div class="cc-contact-information" style="background-image: url('assets/images/ContactImage.jpg');">
          <div class="container">
            <div class="cc-contact">
              <div class="row">
                <div class="col-md-9">
                  <div class="card mb-0 cardBackGroundClr" data-aos="zoom-in">
                    <div class="h4 text-center title">Contact Me</div>
                    <div class="row">
                      <div class="col-md-4 marginPhone">
                        <div class="card-body">
                          
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card-body">
                          <p class="mb-0">
                            <strong>Phone</strong>
                          </p>
                          <p class="pb-2">+1 9805856265</p>
                          <p class="mb-0">
                            <strong>Email</strong>
                          </p>
                          <p>vsreered@uncc.edu  <span>svaasant@gmail.com</span> </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <ng-snotify class="material"></ng-snotify> -->