<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Vaasant Sreereddy</strong>  .I am a graduate Student persuing my masters in computer science at UNC Charlotte and also  currently working as a Graduate Teaching Assistant for a subject which mainly deals with Full Stack web applications using Ejs, Node.js, Express.js, Mongodb .Maintained 4.0/4.0 GPA.</p>


              <p>
                Overal 2 year of experience in Software development using Angular6/7, Node.js, JavaScript, TypeScript, Java, Python, CSS, Bootstrap, HTML5, RDBMS, MongoDB, SQL, NoSQL.I am currently looking for Internship opportunities in the field of Full Stack Development or Software Engineering starting from May 15th.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">November 25, 1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">svaasant@gmail.com / vsreered@uncc.edu</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 9805856265</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">9501 University Terrace dr ,Apt A ,North Carolina ,Charlotte ,USA
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">English,Telugu,English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>