<div class="section" id="about">
    <div class="container">
      <div class="card cardBackGroundClr" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title fontCursive">About</div>
              <p>I am <strong>Vaasant Sreereddy</strong>, a graduate student pursuing my master's degree in computer science at University of North Carolina at Charlotte and also currently working as a Graduate Teaching Assistant for Network Based Application Development coursework which deals with Full Stack Web applications .</p>


              <p>
                I have a 2 years of experience in Software development using Angular8, React.js, Node.js, JavaScript, TypeScript, Java, Python, Spring Boot, CSS, Bootstrap, HTML5, RDBMS, MongoDB, SQL, NoSQL .I am currently looking for Full Time  opportunities in the field of Full Stack Development or Software Engineering starting from February 18th 2021.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title fontCursive">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">November 25 ,1996</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">svaasant@gmail.com / vsreered@uncc.edu</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 9805856265</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">9501 University Terrace ,Dr Apt A ,North Carolina ,Charlotte ,USA
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Languages:</strong>
                </div>
                <div class="col-sm-8">English,Telugu,Hindi</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>