<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
     

  <div class="card">
    <div class="row">
      <div class="col-md-3 bg-primary " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body cc-education-header">
          <p>2019 - 2020</p>
          <div class="h5">Master's Degree <br> <span>(USA)</span></div>
        </div>
      </div>
      <div class="col-md-9 cardBackGroundClr" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
        <div class="card-body">
          <div class="h5">Master of Sciences</div>
           <h4 class="category">University of North Carolina at Charlotte
           </h4>
           <ul>
            <li>Persuing my master's in Computer Science
            </li>
           
            <li>
                Maintaining a GPA of <b>4.0</b>/4.0.
            </li>

            <li>
              <b>Coursework:</b> Network Based Application Development, Algorithms and Data Structures, Database Systems, 
Computer Communications & networks ,Software Systems Design & Implementation, Intelligent Systems ,Cloud Computing in data Analysis, Knowledge Disc in Database 

            </li>
         </ul>
        </div>
      </div>
    </div>
  </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree <br> <span>(INDIA)</span></div>
            </div>
          </div>
          <div class="col-md-9 cardBackGroundClr" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology</div>
               <h4 class="category">Sreenidhi Institute of Science and Technology (J.N.T.U)
               </h4>
               <ul>
                <li>Completed B.E in Electronics and Communication.</li>
                 <li>Maintained above <b>3.5</b>/4.0</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2015</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9 cardBackGroundClr" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Sri Chaitanya Institute of Science and Technology(Hyderabad)
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of physics, mathematics, and Chemistry
                                  </li>
                                 
                                  <li>
                                      Completed my high school with<b> 87.5%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
