<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title fontCursive">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/PortifolioProject.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title fontCursive">
                Personal Portfolio Using Angular7
              </h4>
              <h5 class="card-text fontCursive">
                <b>Technology :</b> Angular7,Bootstrap3
              </h5>
              <a
                href="https://github.com/Vaasant/Vaasant_Portfolio_Angular_7"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/CarrerFair.PNG"
              alt="Card image"
              style="width: 115%"
            />
            <div class="card-body">
              <h4 class="card-title fontCursive">Carrer Fair Website</h4>
              <h5 class="card-text carrerFair fontCursive">
                <b>Technology :</b> EJS,Node.js,Express.js,Mongodb
              </h5>
              <a
                href="https://github.com/Vaasant/Carrer_Fair_Website_End_To_End"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/MobileMeals.PNG"
              alt="Card image"
              style="width: 87%"
            />
            <div class="card-body">
              <h4 class="card-title fontCursive">Mobile Meals in Uncc</h4>
              <h5 class="card-text fontCursive">
                <b>Technology :</b> MySQl,Node.js,EJS
              </h5>
              <a
                href="https://github.com/Vaasant/mobile_meals_Db_project"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/NetworkProtocols.jfif"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title fontCursive">Network Protocols</h4>
              <h5 class="card-text fontCursive"><b>Technology :</b> Python</h5>
              <a
                href="https://github.com/Vaasant/network_protocols_ccn"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/CCN_HTTP.png"
              alt="Card image"
              style="width: 87%"
            />
            <div class="card-body">
              <h4 class="card-title httpClient fontCursive">
                Http Client and Server Interaction
              </h4>
              <h5 class="card-text fontCursive"><b>Technology :</b> Java</h5>
              <a
                href="https://github.com/Vaasant/CCN-project"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/Angular_6_Project.PNG"
              alt="Card image"
              style="width: 106%"
            />
            <div class="card-body">
              <h4 class="card-title fontCursive">Basic App using Angular 8</h4>
              <h5 class="card-text fontCursive">
                <b>Technology :</b> Angular 8
              </h5>

              <a
                href="https://github.com/Vaasant/Angular_6_Project"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
